@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<DataLayer.Entityes.Car>
@{
    ViewData["Title"] = "Garage";
}
<h1>Garage</h1>
<div>
    <table class="table">
        <tr>
            <td>Mark</td>
            <td>Model</td>
            <td>LicencePlate</td>
            <td>YearOfIssue</td>
        </tr>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Mark</td>
                <td>@service.Model</td>
                <td>@service.LicencePlate</td>
                <td>@service.YearOfIssue</td>
            </tr>
        }
    </table>
    <a asp-action="AddCar" asp-controller="Client" asp-route-id="@ViewBag.custId">Add Car</a>
    @*<input type="button" value="Add Client" onclick='window.location = "@Url.Action("AddClient", "Manager")";' />*@
</div>
