@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DataLayer.Entityes.Customer
@{
    ViewData["Title"] = "Personal area";
}
<h1>Personal Area</h1>
<div>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Surname</dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>Patrionomic</dt>
        <dd>
            @Html.DisplayFor(model => model.Patrionomic)
        </dd>
        <dt>PhoneNumber</dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>

    <div>
        <a asp-action="Garage" asp-controller="Client" asp-route-id="@Model.CustomerId">Garage</a> |
        <a asp-action="ServiceHistory" asp-controller="Client" asp-route-id="@Model.CustomerId">Service</a> |
        <a asp-action="Records" asp-controller="Client" asp-route-id="@Model.CustomerId">Records</a> |
        <a asp-action="InputDate" asp-controller="Client" asp-route-id="@Model.CustomerId">Record on service</a>
    </div>
    <input type="button" value="Exit" onclick='window.location = "@Url.Action("Index", "Home")";' />

</div>
