@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CreateOrderModel
@{
    ViewData["Title"] = "Record on service";
}
<h1>Record on service</h1>
<form asp-action="RecordOnService" asp-controller="Client" method="post">
    <div class="form-group">
        <label asp-for="Order.Date">Date: </label>
        <input asp-for="Order.Date" type="text" value="@ViewBag.Date" READONLY>
    </div>
    <div class="form-group">
        <label asp-for="Order.CarId">Select car</label>
        <select asp-for="Order.CarId">
            @foreach (var service in Model.Cars)
            {
                <option value="@service.CarId">@service.LicencePlate</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Select time</label>
        <select asp-for="Order.TimeOrderId">
            @foreach (var service in Model.TimeOrders)
            {
                <option value="@service.TimeOrderId">@service.TimeValue</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Select service</label>
        <select asp-for="Order.CarServiceId">
            @foreach (var service in Model.CarServices)
            {
                <option value="@service.CarServiceId">@service.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input asp-for="Order.StaffId" type="hidden" value="1" READONLY>
        <input asp-for="Order.State" type="hidden" value="waiting" READONLY>
    </div>
    @if (!(Model.Cars.Count() == 0))
    {
        <div class="form-group">
            <input type="hidden" name="submit" value="Send" class="btn btn-default" id="sendButton" />
        </div>
    }
    else
    {
        <div class="form-group">
            <p>You don't add car(s). Please add car on personal area!</p>
        </div>
    }
</form>
@if (!(Model.Cars.Count() == 0))
{
    <div class="form-group">
        <p id="label">SMS: </p>
        <input type="text" value="" id="inTag">
        <input type="hidden" value="-974" id="checkTag">
        <input type="submit" name="submit" value="Send message" id="sB" onclick="generateControlSum()" />
        <input type="hidden" name="submit" value="Check" id="rB" onclick="checkSum()" />
    </div>
}

@functions{
    public int generateControlSum()
    {
        Random r = new Random();
        int cSum = r.Next(1000, 9999);
        return cSum;
    }
}
<script>
    function generateControlSum() {
        var cSum = @generateControlSum();
        var message = 'Введите контрольную сумму: ' + cSum;
        document.getElementById("checkTag").value = cSum;
        document.getElementById("sB").type = 'hidden';
        document.getElementById("rB").type = 'submit';
        alert(message);
    }

    function checkSum() {
        var a = document.getElementById("checkTag").value;
        var b = document.getElementById("inTag").value;
        if (a == b) {
            document.getElementById("sendButton").type = 'submit';
            document.getElementById("checkTag").type = 'hidden';
            document.getElementById("sB").type = 'hidden';
            document.getElementById("rB").type = 'hidden';
            document.getElementById("inTag").type = 'hidden';
            document.getElementById("label").style.display = 'none';
            alert('Проверка пройдена!');
        } else {
            alert('Неверное значение!');
            document.getElementById("sB").type = 'submit';
            document.getElementById("rB").type = 'hidden';
        }
    }
</script>