@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<DataLayer.Entityes.CarService>
@{
    ViewData["Title"] = "Services";
}
<h1>Services</h1>
<div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Category</td>
            <td>Name</td>
            <td>Price</td>
            <td>Duration</td>
            <td></td>
        </tr>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.CarServiceId</td>
                <td>@service.Category</td>
                <td>@service.Name</td>
                <td>@service.Price</td>
                <td>@service.Duration</td>
                <td>
                    <a asp-action="EditService" asp-controller="Manager" asp-route-id="@service.CarServiceId">Edit</a> |
                    <a asp-action="DeleteService" asp-controller="Manager" asp-route-id="@service.CarServiceId">Delete</a>
                </td>
            </tr>
        }
    </table>
    <input type="button" value="Add Service" onclick='window.location = "@Url.Action("AddService", "Manager")";' />
</div>