@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<DataLayer.Entityes.Order>

<div>
    <div>Autoservice day profit</div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Time</td>
            <td>Car Mark</td>
            <td>Car Model</td>
        </tr>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.OrderId</td>
                <td>@service.TimeOrder.TimeValue</td>
                <td>@service.Car.Mark</td>
                <td>@service.Car.Model</td>
            </tr>
        }
    </table>
    <div>
        <p>Count of orders: @Model.Count()</p>
    </div>
</div>