@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DataLayer.Entityes.Staff

<div>
    <h1>Staff Profile</h1>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Surname</dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>Specialization</dt>
        <dd>
            @Html.DisplayFor(model => model.Specialization)
        </dd>
    </dl>
</div>
<div>
    <div>
        <a asp-action="InputDate" asp-controller="Staff">Records</a>
    </div>
    <input type="button" value="Services" onclick='window.location = "@Url.Action("Services", "Staff")";' />
    <input type="button" value="Staff" onclick='window.location = "@Url.Action("Staff", "Manager")";' />
    <input type="button" value="Sareparts" onclick='window.location = "@Url.Action("Spareparts", "Manager")";' />
    <input type="button" value="Clients" onclick='window.location = "@Url.Action("Clients", "Manager")";' />
    <input type="button" value="Profit" onclick='window.location = "@Url.Action("Profit", "Manager")";' />
</div>
