@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<DataLayer.Entityes.Order>

<h1>Records</h1>
<div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Car</td>
            <td>Service</td>
            <td>Time</td>
            <td></td>
        </tr>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.OrderId</td>
                <td>@service.Car.LicencePlate</td>
                <td>@service.CarService.Name</td>
                <td>@service.TimeOrder.TimeValue</td>
                <td>
                    <a asp-action="AddStaff" asp-controller="Staff" asp-route-id="@service.OrderId">Add staff</a>
                </td>
            </tr>
        }
    </table>
</div>
