@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Unchecked record";
}
@model UncheckedOrderModel
<h1>Record</h1>
<form asp-action="UncheckedRecords" asp-controller="Staff" method="post">
    <div class="form-group">
        <label>OrderId: </label>
        <input asp-for="Order.OrderId" type="text" value="@Model.Order.OrderId" readonly />
    </div>
    <div class="form-group">
        <label>Date: </label>
        <input type="text" value="@Model.Order.Date" READONLY>
        <input asp-for="Order.Date" type="hidden" value="@Model.Order.Date" />
    </div>
    <div class="form-group">
        <label>Time: </label>
        <input type="text" value="@Model.TimeOrders.TimeValue" READONLY>
        <input asp-for="Order.TimeOrderId" type="hidden" value="@Model.TimeOrders.TimeOrderId" />
    </div>
    <div class="form-group">
        <label>Car: </label>
        <input type="text" value="@Model.Cars.LicencePlate" READONLY>
        <input asp-for="Order.CarId" type="hidden" value="@Model.Cars.CarId" />
    </div>
    <div class="form-group">
        <label>Service: </label>
        <input type="text" value="@Model.CarServices.Name" READONLY>
        <input asp-for="Order.CarServiceId" type="hidden" value="@Model.CarServices.CarServiceId" />
    </div>
    <div class="form-group">
        <label>Staff:</label>
        <input type="text" value="@Model.Staff.Name @Model.Staff.Surname" READONLY>
        <input asp-for="Order.StaffId" type="hidden" value="@Model.Staff.StaffId" />
    </div>
    <div class="form-group">
        <label>Price:</label>
        <input type="text" value="@Model.Order.TotalPrice" READONLY>
        <input asp-for="Order.TotalPrice" type="hidden" value="@Model.Order.TotalPrice" />
    </div>
    <div class="form-group">
        <label asp-for="Order.State">State: </label>
        <select asp-for="Order.State">
            <option value="finish">Завершить</option>
            <option value="working">Доработать</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" name="submit" value="Send" class="btn btn-default" />
    </div>
</form>