@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DataLayer.Entityes.Order
<h1>Personal Area</h1>
<form asp-action="UncheckedRecords" asp-controller="Staff" method="post">
    <div class="form-group">
        <label>OrderId: </label>
        <input asp-for="@Model.OrderId" type="hidden" value="@Model.OrderId" READONLY />
    </div>
    <div class="form-group">
        <label>Date: </label>
        <input asp-for="@Model.Date" type="text" value="@Model.Date" READONLY />
    </div>
    <div class="form-group">
        <label>Date: </label>
        <input asp-for="@Model.TimeOrderId" type="text" value="@Model.TimeOrderId" READONLY />
    </div>
    <div class="form-group">
        <label>Service: </label>
        <input asp-for="@Model.CarServiceId" type="hidden" value="@Model.CarServiceId" READONLY />
    </div>
    <div class="form-group">
        <label>Price: </label>
        <input asp-for="@Model.TotalPrice" type="text" value="@Model.TotalPrice" READONLY />
    </div>
    <div class="form-group">
        <label>Car: </label>
        <input asp-for="@Model.CarId" type="text" value="@Model.CarId" READONLY />
    </div>
    <div class="form-group">
        <label>Staff: </label>
        <input asp-for="@Model.StaffId" type="text" value="@Model.StaffId"READONLY  />
    </div>
    <div class="form-group">
        <label>Select state: </label>
        <select asp-for="@Model.State">
            @foreach (var service in Model.State)
            {
                <option value="finish">Завершить</option>
                <option value="working">Доработать</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" name="submit" value="Send" class="btn btn-default" />
    </div>
</form>